/*Sidebar Styling */
html, body{
	font-size: 11pt;
}

.panel-heading>.nav-tabs {
    border-bottom: none;
    margin-bottom: -10px;
}
.wrapper {
	padding-left: 250px;
}

.card{
	margin-bottom: 20px;
	height: calc(100% - 20px);
}
#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: hidden;
	background: #323232;
    color: #fff;
    transition: all 0.3s;
}

#sidebar a, #sidebar #logo{
	cursor: pointer;
}

.container{
	padding-top: 20px;
	width: 100%;
    float: left;
	max-width: none;
}
.inner-container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.clear::after { 
	content: "";
	display: block; 
	clear: both;
}

a[data-toggle="collapse"] {
    position: relative;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#reset-button{
	float: right;
	cursor: pointer;
}

#sidebar .sidebar-header {
    padding: 40px 20px 20px 10px;
}

#sidebar .sidebar-header h3{
    font-weight: 900;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
	color: #adadad;
}
#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #494949;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #494949;
}

/* End Sidebar */



div.desc {
    padding: 15px;
    text-align: left;
    height: 300px;
    background-color:white;
}

.fixed-table-pagination li.active a {
    background: #000;
    color: #ff;
}

.tc-chart-js-legend {
	list-style-type: none;
	padding-left: 0px;
}
.tc-chart-js-legend li {
	display: block;
	float: left;
	clear:both;
	padding:10px;
}
.tc-chart-js-legend li span {
	width:25px;
	height:25px;
	display:block;
	float:left;
	margin-right:10px;
}
.canvas-title{
	width: 100%;
	position: absolute;
	left: 0;
    bottom: 0;
	left: 50%;
    transform: translate(-50%, 0);
}
.canvas-title h4{
	display: inline-block;
}

.fa-info-circle{
	margin: 0 6px;
    font-size: 1.2rem;
}
.panel-heading .fa-info-circle{
	margin: 0;
	margin-left: 5px;
	float: none;
}

.btn-inside .form-group{
	margin: 0;
}

.has-success .form-control-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
	padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
	
	border-color: #5cb85c;
}


table th{
	border-top: none !important;
}

table.sortable th, table.sortable tr{
	cursor: pointer;
}

table.sortable tbody > tr:hover{
	background: #d0d0d0 !important;
}

table.sortable th:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

.sortable th[aria-sort=ascending]:not(.no-sort):after{
	border-bottom: none;
    border-width: 4px 4px 0;
	
}

table.sortable th:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

dl{
	font-size: 11pt;
	display: block;
    float: left;
    width: 100%;
	margin-bottom: 5px;
	text-transform: capitalize;
}

dt, dd{
	float:left;
}

input[type="text"]{
	border-radius: 5px;
    padding: 6px;
    margin: 0 4px;
    border: 1px solid #bbb;
}

.niche-tag{
	color: #666;
}
.form-group{
	margin-top: 10px;
}
.input-switch{
	display:none;
}

.input-switch + label::before{
	content: "OFF";
    display: block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 4px;
    top: 0;
}

.input-switch + label::after{
    background-color: #eee;
    border-radius: 2px;
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 19px;
}

.input-switch + label {
    background-color: #b3b1b1;
    border: 1px solid #9a9898;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    position: relative;
    width: 50px;
}

.input-switch + label, .input-switch + label::before, .input-switch + label::after {
    transition: all 0.3s ease 0s;
}

.input-switch:checked + label {
    background-color: #007bff;
    border: 1px solid #007bff;
}
.input-switch:checked + label::before {
    content: "ON";
    left: 4px;
    right: auto;
}
.input-switch:checked + label::after {
    background-color: #f7f7f7;
    left: 29px;
}

	
	
[data-lifetime-sales="false"] td.product-name{
	color: #d9534f;
}

[data-lifetime-sales="false"] td.product-name span{
	float:left;
	display: block;
	clear:both;
}

[data-lifetime-sales="false"] td.product-name:after{
	float: left;
	display:block;
	content: " (NEVER SOLD)";
	font-weight: 700;
	color: #d9534f;
	clear:both;
}

.niche-list-area{
	max-height: 91px;
	overflow: hidden;
	position: relative;
}

.niche-list-area:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background: -webkit-linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
	);
	background-image: -moz-linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
	);
	background-image: -o-linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
	);
	background-image: linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
	);
	background-image: -ms-linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
	);
}


.niche-list-area.expanded{
	max-height: none;
}


.more-btn{
	text-transform: uppercase;
    color: #ccc;
    font-weight: 700;
	cursor: pointer;
	margin: 13px 0;
    float: left;
}

.date-selector{
	border: none !important;
	padding: 0 !important;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
	font-size: 1.75rem;
	font-weight: 500;
    line-height: 1.2;
	width: 100%;
	float:right;
	color: #222;
	text-align: right;
	padding-right: 20px !important;
	cursor: pointer;
}

.daterangepicker{
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,.25);
    box-shadow: 5px 5px 15px rgba(0,0,0,.25);
    font-weight: 600;
    width: 100%;
    background: #f5f5f5;
}

.range_inputs{
	display: none;
}

.down-arrow{
	float:right;
	color: #222;
	margin: 10px;
}

.no-pading-top{
	padding-top: 0;
}

.no-card-bottom .card{
	margin-bottom: 0;
}

[name="numberOfDaysInput"]{
	max-width: 36px;
    margin: 0 5px;	
}

.settings-label{
	float:right;
	text-align: right;
}

@media only screen and (max-width: 768px) {
	.settings-label{
		float:none;
		text-align: left;
	}
}

.ranges li.active, .daterangepicker td.active, .daterangepicker td.active:hover  {
	background: #007bff !important;
}

.save{
	max-width: 58px;
}

.card-block{ /* Temp Solution for now */
	padding: 27px;
}

.dropdown{
	position: relative;
	width: 100%;
}
.dropdown .fa{
	position: absolute;
	top: 0px;
	right: 0;
	pointer-events: none;
}

.subheading{
	color: rgb(134, 142, 150);
	font-weight: 400;
	font-size: 1rem;
    text-transform: uppercase;
}

table tr, table td{
	position: relative;
}

.design-preview{
	max-width: 54px !important;
	position: relative;
}

.floated-preview{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.img-thumbnail{
	max-width: none;
}

.img-responsive{
	width: 100%;
}