
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100px
    height: auto;
    float: center;
}

div.desc {
    padding: 15px;
    text-align: left;
    height: 300px;
    background-color:white;
}

.fixed-table-pagination li.active a {
    background: #000;
    color: #ff;
}

.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
  padding:10px;
}
.tc-chart-js-legend li span {
  width:25px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
}

.canvas-wrapper{
	position: relative;
	width: 33%;
	float: left;
	margin-bottom: 15px;
}

.canvas-title{
	width: 100%;
	position: absolute;
	left: 0;
    bottom: 0;
	font-size: 1.7rem;
}

.niche-input{
	float: left;
    width: calc(100% - 83px);
    margin: 4px;
}